.clients-caption {
    @extend %caption
    
}

.clients-set {
    @extend %flex-center;
    gap: 30px;
    
}

.clients-set__icon {
    @extend %flex-center;
    width: 170px;
    height: 92px;
    fill: rgba(175, 177, 184, 1);
    border-radius: 4px;
    border: 1px solid #afb1b8;
    cursor: pointer;
    

    &:hover,
    &:focus {
            fill: rgba(33, 150, 243, 1);
            border: 1px solid #2196f3;
    }
    &:focus,
    &:hover .clients-set__link {
            fill: rgba(33, 150, 243, 1);
        }
    
    transition: fill 250ms var(--function-time), border 250ms var(--function-time);
}



.clients-set__link {
    fill: rgba(175, 177, 184, 1);

    transition: fill 250ms var(--function-time);
}

