:root {
    --main-text-color: rgba(33, 33, 33, 1);
    --lead-text-color: rgba(117, 117, 117, 1);
    --accent-text-color: rgba(255, 255, 255, 1);
    --accent-color: rgba(255, 255, 255, 0.6);
    --hover-text-color: rgba(33, 150, 243, 1);
    --primary-bg-color: rgba(47, 48, 58, 1);
    --logo-text-color: rgba(0, 0, 0, 1);
    --function-time: cubic-bezier(0.4, 0, 0.2, 1);
}

// $mainColor: rgba(33, 33, 33, 1);
// $textColor: rgba(117, 117, 117, 1);
// $whiteColor: rgba(255, 255, 255, 1);
// --accent-color: rgba(255, 255, 255, 0.6);
// $hoverColor: rgba(33, 150, 243, 1);
// --primary-bg-color: rgba(47, 48, 58, 1)
// $logoColor: rgba(0, 0, 0, 1);
// $bezierFunction: cubic-bezier(0.4, 0, 0.2, 1);
//                 rgba(175, 177, 184, 1);
//                 rgba(24, 140, 232, 1);
//                 rgba(0, 0, 0, 0.2);